{% extends "master.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'post.css' %}">
{% endblock %}


{% block content %}
<div class="subBody">
    <div class="searchBarDiv">
        <input id="search" name="search" type="text" placeholder="Search For A Product to Review">
        <h1> Mama Jeanith Ursonal</h1>
   </div>
</div>
   
{% endblock %}


<!-- <!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'post.css' %}">
    <body>
        <h1>Yamamama</h1>
    </body>
</html> -->