.homeBody {
  height: auto;
  width: 100%;
  background-color: #f5f5f5;
  /* padding-top: 10px; */
  /* padding-bottom: 20px; */
  min-height: 1000px;
}

.navside {
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 70px;
  left: 0;
  height: auto;
  width: fit-content;
  border-radius: 2px;
  background-color: #fff;
  border: 2px solid #ebebeb;
  /* box-shadow: 0px 0px 10px -5px; */

  color: #c8c8c8;
  min-width: 250px;
  max-width: 250px;
}
.navside h4,
.navside h3,
.featuredside h4 {
  color: #222222;
}

.tabs {
  /* background-color: #aaaaaa; */
  padding: 10px;
  border-radius: 50px;
  width: auto;
  margin-right: 30px;
  font-weight: lighter;
}

.tabs:hover {
  /* background-color: #aaaaaa; */
  background-color: #f5f5f5;
}

.tabs.active {
  /* background-color: #f7f7f7; */
  font-weight: bold;
  border: 1px solid #1d1d1d;
}

.tabs.active:hover {
  background-color: transparent;
}

.profile-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 5px;
  padding: 10px 5px;
  margin: 4px 0;
  border-radius: 50px;
  width: auto;
}

.profile-nav:hover {
  /* background-color: #aaaaaa; */
  background-color: #f5f5f5;
}

.profile-nav.active {
  /* background-color: #f7f7f7; */
  font-weight: bold;
  border: 2px solid #1d1d1d;
}

.profile-nav.active:hover {
  background-color: transparent;
}

.featuredside {
  border: 2px solid #ebebeb;
  margin: 0 auto;
  padding: 15px;
  display: none;
  flex-direction: column;
  position: fixed;
  bottom: 2rem;
  left: 60%;
  top: 180px;
  right: 15px;
  height: fit-content;
  border-radius: 3px;
  background-color: #fff;
  /* box-shadow: 0px 0px 10px -5px; */
  color: #c8c8c8;
  max-width: 250px;
  min-width: 250px;
}

.featuredside h1 {
  /* background-color: #aaaaaa; */
  padding: 15px;
  margin: 2px 0;
  border-radius: 50px;
  width: 250px;
  font-size: 30px;
  color: #222222;
}

.margin-top {
  margin-top: auto;
}
.border-top {
  margin: 5px auto;
  margin-bottom: 10px;
  border-top: 2px solid #d8d8d8;
  width: 80%;
}

.noStyle {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.searchBarContainer {
  background-color: #ffffff;
  border: 2px solid #ebebeb;
  /* box-shadow: 0px 0px 10px -5px; */
  color: #c8c8c8;
  height: auto;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
}

.navigateContentParent {
  /* background-color: #ffffff; */
  /* box-shadow: 0 0 50px -50px; */
  height: 70px;
  width: 41%;
  margin: 0 auto;
  /* margin-top: 10px; */
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #696969;
  position: relative;
  /* z-index: 9000px; */
  border: none;
}

.navigateContentParent div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  cursor: pointer;
}

.navigateContentParent h2 {
  user-select: none;
  width: auto;
  font-size: large;
  font-weight: normal;
  max-height: 48px;
  height: 100%;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 10px;
}

.navigateContentParent div.active {
  background-color: #f4d3a1;
  border-radius: 10px 10px 0 0;
}
.navigateContentParent div.active h2 {
  border-bottom: 4px solid #cb6700;
  font-weight: bold;
  color: #cb6700;
}

.navigateContentParent div:hover {
  background-color: #f4d3a1;
  border-radius: 10px 10px 0 0;
}

.allReviewPostsParent {
  /* box-shadow: 0 0 50px -50px; */
  height: auto;
  width: 100%;
  margin: 0 auto;
  /* margin-top: 10px; */
  /* border-radius: 0px 0px 5px 5px; */
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.allReviewPostsParent i {
  cursor: pointer;
  color: #696969;
}

[id^="reviewPostContainer-"] span,
[id^="reviewPostContainer-"] h2 {
  color: #222222;
  font-size: large;
}
[id^="reviewPostContainer-"] {
  background-color: #ffffff;
  border: 2px solid #ebebeb;
  /* box-shadow: 0px 0px 10px -5px; */
  /* box-shadow: 0 0 50px -50px; */
  height: auto;
  width: 100%;
  margin: 0 auto;
  /* margin-bottom: 20px; */
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-direction: column;
  color: #c8c8c8;
  max-height: 700px;
  transition: max-height 0.2s ease;
}

[id^="reviewPostContainer-"].active {
  max-height: 65px;
}

[id^="reviewPostContainer-"] .after {
  font-weight: normal;
  position: absolute;
  display: flex;
  align-items: center;
  width: 35%;

  margin: 20px 40px;

  visibility: hidden;
  opacity: 0%;

  transition: visibility 0.1s ease, opacity 0.1s ease;
}

[id^="reviewPostContainer-"] .after form {
  margin-left: auto;
}

[id^="reviewPostContainer-"].active .after {
  opacity: 100%;
  visibility: visible;
}
[id^="reviewPostContainer-"] .before {
  opacity: 100%;
  visibility: visible;
  transition: visibility 0.1s ease, opacity 0.01s ease;
}

[id^="reviewPostContainer-"].active .before {
  opacity: 60%;
  visibility: hidden;
}

.allProductPostsParent {
  box-shadow: 0 0 50px -50px;
  height: fit-content;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 0px 0px 5px 5px;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.productContainer {
  background-color: #ffffff;
  box-shadow: 0 0 50px -50px;
  height: fit-content;
  width: 31%;

  border-radius: 8px;
  display: flex;
  flex-direction: column;

  color: #696969;
}

.productContainer .productNameContainer {
  padding: 5px 20px 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productNameContainer i {
  cursor: pointer;
}

.productContainer img {
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.productCategoryContainer {
  display: flex;
  height: auto;
  align-items: center;
  gap: 8px;
  padding-left: 15px;
  padding-top: 15px;
  color: #626262;
}

.makeReviewDiv {
  display: none;
  align-items: center;
  position: fixed; /* Use 'fixed' instead of 'absolute' to keep it centered even when scrolling */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  margin: auto; /* Centers the form */
  width: 100%;
  height: 100%;
  background-color: rgba(66, 37, 34, 0.3);
  z-index: 999;
}

[id^="makeChangesDiv-"] {
  display: none;
  align-items: center;
  position: fixed; /* Use 'fixed' instead of 'absolute' to keep it centered even when scrolling */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  margin: auto; /* Centers the form */
  width: 100%;
  height: 100%;
  background-color: rgba(66, 37, 34, 0.3);
  z-index: 999;
}

.makeReviewForm {
  background-color: #f2d1a0;
  box-shadow: 0 0 50px -50px;
  height: auto;
  width: 35%;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  color: #696969;
  max-height: 700px;

  transition: max-height 0.2s ease;
}

.imagesAddPost {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #696969;
  height: 350px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  /* margin-bottom: 10px; */
  cursor: pointer;
  background-size: cover;
  background-position-y: center;
  background-color: #ffffff;
}

[id^="imagesChangePost-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #696969;
  height: 350px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  /* margin-bottom: 10px; */
  cursor: pointer;
  background-size: cover;
  background-position-y: center;
  background-color: #ffffff;
}

.fa-solid.fa-image.fa-lg {
  text-shadow: 2px 2px 2px #222222;
  padding: 50px;
}

.userPostDetails {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.userPostDetails span {
  font-size: x-small;
  padding: 0px;
  margin: 0px;
}
.headerPost {
  display: flex; /* Use flexbox to arrange children horizontally */
  align-items: center; /* Center vertically */
  justify-content: flex-start;
  margin: 0px;
  width: 90%;
  margin: 20px;
  height: auto;
  gap: 10px;

  /* background-color: aliceblue; */
}

.descriptionPost {
  font-size: small;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;

  /* background-color: #696969; */
}

.descriptionPost input {
  border: none;
  font-size: 16px;
  width: 100%;
  padding: 8px;
  flex-wrap: wrap;
  /* background-color: #696969; */
}

.descriptionPost span {
  font-size: 16px;
}

.imagesPost {
  background-color: #f5f4f4;
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.imagesPost img {
  height: 100%;
  object-fit: contain;
}
.buttonsPost {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 50px;
  /* background-color: black; */
}

.buttonsPost i,
.buttonsPost div {
  display: flex;
  justify-content: center;
}
.top {
  display: flex; /* Use flexbox to arrange children horizontally */
  align-items: center; /* Center vertically */
  justify-content: flex-start;
  margin: 20px;
  width: 90%;
  gap: 20px;
  /* background-color: aliceblue; */
}

.top form {
  flex-grow: 1;
  /* background-color: aquamarine; */
}

.top div {
  color: #8b8b8b;
  border: 2px solid #c9c9c9;
  /* background-color: #f7f7f7; */
  border-radius: 50px;
  font-weight: 200;
  padding: 15px 25px;
  font-size: 14px;
  width: 90%;
}

.profileMiniUserPicture {
  width: 40px;
  border-radius: 50%;
  overflow: hidden; /* Clip image to the circular shape */
  position: relative; /* Create a positioning context for the child img */

  background-color: antiquewhite;
  /* 
    
    background-repeat: no-repeat;
    background-size: cover; Maintain aspect ratio */
}

.pawButton {
  width: auto;
  border-radius: 10px;
  border: none;
  background-color: rgb(182, 106, 29);
  color: white;
  font-size: 15px;
  padding: 8px;
  cursor: pointer;
}

#publishReviewButton {
  width: 100%;
  /* border-radius: 7px; */
  border: none;
  background-color: rgb(182, 106, 29);
  color: white;
  font-size: 22px;
  padding: 12px;
  cursor: pointer;
  margin: 0 auto;
}

.fa-solid.fa-arrow-up.fa-lg.active,
.fa-solid.fa-heart.fa-lg.active {
  color: rgb(182, 106, 29);
}

.fa-solid.fa-arrow-up.fa-lg.active::before {
  color: rgb(182, 106, 29);
}
