:root {
  --clr-dark-bg: #1d1c22;
  --clr-dark-main: #23232a;
  --clr-dark-sub: #1b1b24;
  --clr-dark-text: #000;
  --clr-dark-border: #393941;
  --clr-dark-bd: 0, 0, 0;
  --clr-light-bg: #f5f5f5;
  --clr-light-main: #fff;
  --clr-light-sub: #ddd;
  --clr-light-border: #ebebeb;
  --clr-light-text: #e7e7e7;
  --clr-light-bd: 255, 255, 255;
  /* #1f1f24 */
  /* 1d1c22 */
  /* #1a191c */
  /* #212127 */
  /* #23232a */
}

.moon {
  --clr-light-bg: #1d1c22;
  --clr-light-main: #23232a;
  --clr-light-sub: #1b1b24;
  --clr-light-text: #000;
  --clr-light-border: #393941;
  --clr-light-bd: 0, 0, 0;
  --clr-dark-bg: #f5f5f5;
  --clr-dark-main: #fff;
  --clr-dark-sub: #ddd;
  --clr-dark-border: #ebebeb;
  --clr-dark-text: #e7e7e7;
  --clr-dark-bd: 255, 255, 255;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

* button, * i {
  cursor: pointer;
}

body {
  font-family: "Lexend", sans-serif;
  background-color: var(--clr-light-bg);
}

.masterNav {
  height: 60px;
  background-color: #e0b37e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  padding-left: 20px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}

nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul {
  list-style: none;
  display: flex;
  justify-items: center;
  gap: 40px;
  font-size: 1em;
}

nav ul li {
  cursor: pointer;
  padding: 5px;
}

nav .icons {
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  gap: 20px;

  width: 400px;
}

nav .icons input {
  border: none;
  border-radius: 25px;
  background-color: transparent;
  /* #f9f9f9 */
  font-weight: normal;
  height: 15px;
  padding: 8px;
  font-size: 15px;

  flex-grow: 1;
  outline: none;
}

nav .icons .inputDiv {
  border-radius: 10px;
  background-color: #edc799;
  font-weight: normal;
  padding-left: 15px;
  height: 35px;
  width: 60%;
  font-size: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* .fa.fa-search.transparent-icon {
    position: absolute;
    top: auto;
    right: 26em;
} */

.transparent-icon {
  color: rgb(85, 85, 85);
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 1em;

  width: 400px;
}

.logo img {
  width: 40px;
}

.logo p {
  font-weight: 550;
}

.logo .rated {
  color: brown;
}

.noStyle {
  border: none;
  cursor: pointer;
}

.settingsDiv, .notificationsDiv {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 3.7rem;
  right: 8rem;
  background-color: var(--clr-light-main);
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(189, 157, 157, 0.1);
  width: 280px;
  height: 1px;
  padding: 0 10px;
  border-radius: 3px;
  gap: 5px;
  z-index: 9;

  opacity: 0;

  transition: opacity 0.3s ease, height 0.2s ease, padding 0.3s ease;
}

.settingsDiv.active, .notificationsDiv.active {
  opacity: 1;
  padding: 10px;
  height: 200px;
  /* owr any other appropriate display value */
}

.notificationsDiv span:hover {
  background-color: #f0f0f0; /* Change the background color when hovering */
}

.notificationsDiv span {
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
}

.settingsDiv.active div {
  visibility: visible; /* Show the nested div elements */
}

/* .notificationsDiv div {
  visibility: hidden;
  transition: visibility 0.05s ease;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
}

.settingsDiv.active div {
  visibility: visible; /* Show the nested div elements */


.buttonFillStyle {
  border-radius: 8px;
  border: 2px solid rgb(182, 106, 29);
  background-color: rgb(182, 106, 29);
  color: white;
  font-size: 15px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonBorderStyle {
  border-radius: 8px;
  border: 2px solid rgb(182, 106, 29);
  background-color: transparent;
  color: var(--clr-dark-main);
  font-size: 15px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsDiv {
  display: flex;
  gap: 15px;
}

.copyright {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-end;
  font-weight: 100;
  position: fixed;
  bottom: 2rem;
  font-size: x-small;
  right: 2rem;
  color: var(--clr-dark-text);
  z-index: 999;

  transition: all 0.3s ease;
}

.copyright.active {
  bottom: 15rem;
}

.deleteAccountDiv,
.editAccountDiv,
.addBioDiv,
.addLocationDiv,
.modalDiv {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed; /* Use 'fixed' instead of 'absolute' to keep it centered even when scrolling */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--clr-dark-text);
  margin: auto; /* Centers the form */
  width: 100%;
  height: 100%;
  background-color: rgba(var(--clr-dark-bd), 0.4);
  z-index: 999;
}

.deleteAccountContent,
.editAccountContent,
.addBioContent,
.addLocationContent,
.modalContent {
  background-color: var(--clr-light-main);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 60px;
  /* color: rgb(182, 106, 29); */
  gap: 30px;
}
