.profileContent {
  font-family: "Lexend", sans-serif;
  background-color: var(--clr-light-bg);
  width: 100%;
  height: 100%;
  padding: 10px 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

input {
  color: var(--clr-dark-text);
  background-color: var(--clr-light-main);
  border: 2px solid var(--clr-light-border);
  /* #c9c9c9 */
  border-radius: 5px;
  font-weight: 200;
  padding: 10px 12px;
  font-size: 14px;
}

.dashboard {
  padding: 30px;
  margin-right: 10px;
  height: fit-content;
  flex-grow: 1;
  background-color: var(--clr-light-main);
  /* box-shadow: 0px 0px 10px -5px #c8c8c8; */
  border: 2px solid var(--clr-light-border);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  color: #959595;
}

.userPosts {
  width: 70%;
}

.profileUserPicture {
  margin-left: 2%;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden; /* Clip image to the circular shape */
  position: relative; /* Create a positioning context for the child img */
  border: 5px solid var(--clr-light-main);
  top: 2.5rem;
  /* #F4D3A1 */
  transform: translateY(150%);
  background-color: #f2d1a0;

  background-image: url("./img/pfp.png");
  background-repeat: no-repeat;
  background-size: cover; /* Maintain aspect ratio */
}

.profileUserPicture img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crop and scale the img to fill the entire div */
  border-radius: 50%; /* Ensure the img is circular */
}

.profileUserBackground {
  /* ddd */
  background-color: var(--clr-light-sub);
  margin: 0 auto;
  width: 95%;
  display: flex; /* Use flexbox */
  justify-content: flex-start;
  height: 400px;

  border-radius: 0px 0px 10px 10px;
  background-image: url("./img/background.png");
  background-repeat: no-repeat;
  background-size: cover; /* Maintain aspect ratio */
  background-position: bottom;
}

.profileUserDetailsContainer {
  height: auto;
  width: 100%;
  margin: 0 auto;
  /* background-color: #F4D3A1; */
  background-color: var(--clr-light-main);
}

.profileUserName {
  height: 100px;
  width: 73%;
  display: flex; /* Use flexbox for vertical centering */
  align-items: center; /* Center vertically */
  margin-right: 5%;
  margin-left: auto;
  padding-left: 10px;
  justify-content: space-between;
}

.profileUserName h2 {
  color: var(--clr-dark-main);
}

.makeReviewContainer {
  background-color: #f4dcc0;
  box-shadow: 0 0 50px -50px;
  height: 100px;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
}

.profileHr {
  color: #fefefe;
  width: 80%;
  margin: 0 auto;
}

.profileReviews {
  background-color: var(--clr-light-sub);
  box-shadow: 0 0 50px -50px;
  flex: 1;
  height: 100%;
  /* width: 50%; */
  margin: 0 auto;
  /* margin-top: 20px; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5b5b5b;
  font-size: xx-large;
}

.profileButton {
  width: auto;
  border-radius: 10px;
  border: none;
  background-color: rgb(182, 106, 29);
  color: white;
  padding: 12px;
  cursor: pointer;
}

.subDetailsTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: smaller;
  padding: 5px 8px;
  color: #7e7e7e;
}

.subDetailsContent {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: #f8f8f8;
}
