@import url("https://fonts.googleapis.com");

.container {
  display: flex;
  flex-direction: column;
  margin: 0 0px;
  margin-left: 16%;
  align-items: center;
  height: 100vh;
  justify-content: center;
  font-family: "Oswald", sans-serif;
}

.subcontainer {
  width: 100%;
  background-color: #f4d3a1;
  height: 120px;
  border-radius: 8px;
  padding-top: 20px;
  margin-bottom: 80px;
}
.team-img {
  height: 180px;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
}
.c {
  width: 180px; /* Adjust as needed */
  height: 180px; /* Adjust as needed */
  border-radius: 50%; /* Creates a circular clipping effect */
  object-fit: cover; /* Ensures the image covers the circular container */
  padding: 8px;
  background-color: #fff;
}
.spotlight {
  width: 500px;
  object-fit: cover;
}
.circular-image {
  position: relative;
  height: 350px;
  width: 240px;
  object-fit: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 0.5s ease;
  z-index: 0;
}
.circular-image:hover {
  filter: none;
  transform: scale(1.1);
  z-index: 999;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  padding-bottom: 40px;
  border-radius: 5px;
  gap: 20px;
  min-width: 225px;
  max-width: 225px;
  transition: transform 0.2s;
}

.team-card:hover {
  transform: scale(1.1);
}
