<!DOCTYPE html>
<html>
    <!-- <body>
        <div>
            <h1>YOu hAve ReacheD the JejeMon PaGe</h1>
            <p>- better go back, sucker -</p>
            <p>-v-</p>
        </div>
    </body> -->
    <body class="body" style="
        background-image: url('https://images.unsplash.com/photo-1515966306809-37aaff37a72f?auto=format&amp;fit=crop&amp;q=80&amp;w=1783&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        /* background-position-y: 100px; */
    ">
            <div class="container" style="
        height: max-content;
        color: #ececec;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 14rem;
    ">
                <h1 style="
        /* font-family: revert; */
        font-size: 60px;
        margin: 0;
    ">Welcome</h1>
                <p style="
        font-family: system-ui;
        margin-top: 0;
        font-size: larger;
    ">to the void</p>
                <p>-v-</p>
        <h6 class="no" style="
        display: flex;
        flex-grow: 1;
        font-family: system-ui;
        font-weight: normal;
        font-size: medium;
        margin-top: inherit;
    ">P.S. Page Not Found, Buddy</h6>
            </div>
        
    </body>
</html>

