{% extends "master.html" %}  {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'view_post.css' %}" />
{% endblock %} {% block content %} {% include "add_post.html" with from_page='home' %} {%include 'trending.html' %} 

<body class="homeBody">
  
  <!-- HOME CONTENT DIV -->
  <div id="homeContentContainer" style="display: flex; flex-direction: column; width: 40%; margin: 0 auto; margin-top: 70px" >

  <!-- MAKE REVIEW DIV -->
  <div class="searchBarContainer">
    <div class="top">
      <img src="{% static '/img/logo.png' %}" class="profileMiniUserPicture" alt="mini user pfp" />
      <div id="makeReviewHeader" name="makeReviewHeader">Got something to say?</div>
      <i class="fa-solid fa-image" style="color: rgb(182, 106, 29)"></i>
      <!-- <button class="pawButton"><i class="fa-solid fa-paw "></i> </button> -->
    </div>
  </div>


  <!-- FILTERS -->
  <div id='productFiltersDiv' class="productFiltersDiv">
    <button style="border-radius: 100px; height: fit-content; padding: 5px 15px;" class="buttonFillStyle filter-tabs">All</button>
    {%for category in product_category %}
    <button style="border-radius: 100px;height: fit-content;padding: 5px 15px;" id='{{category.category_name}}' class="buttonBorderStyle filter-tabs">{{ category.category_name}}</button>
    {% endfor %}
    <button id="left" style="border-radius: 50px; width: 30px; height: 30px; position: absolute; left: 28.5rem;"><i class="fa-solid fa-arrow-left"></i></button>
    <button id="right" style="border-radius: 50px; width: 30px; height: 30px; position:absolute;right: 28.5rem;"><i class="fa-solid fa-arrow-right"></i></button>
  </div>


  <!-- ADD PRODUCT BUTTON -->
  {% if request.session.admin %}
    <i id='addProductButton' onclick='addProductFunction()' style="font-size: xx-large; display: none; position: fixed; bottom: 5rem; right: 30rem; border-radius: 50px; height: 50px; width: 50px" class="fa-solid fa-plus buttonFillStyle"></i>
  {% endif %}


  <!-- POSTS DIV -->
  <div class="allReviewPostsParent">
    {% for post in post_list %} {% with post_id=post.id post_comments=post.comments_set.all %}
    {%include "view_post.html"%} {% include 'update_post.html' %} {%endwith%}

    <div id="reviewPostContainer-{{ post.id }}" data="{{ post }}">
      <div class="after">
        <h3>This post has been deleted!</h3>
        <form action="/undelete_post/{{ post.id }}" method="post">
          {% csrf_token %}
          <i
            id="undoDeletePostButton-{{ post.id }}"
            class="fa-solid fa-arrow-rotate-left fa-lg"
          ></i>
        </form>
      </div>

      <div class="before">
        <div class="headerPost">
          <img
            src="{% static '/img/logo.png' %}"
            class="profileMiniUserPicture"
            alt="mini user pfp"
          />
          <div class="userPostDetails">
            <h2>{{ post.post_user.username | title }}</h2>
            <span>{{ post.datetime_published }}</span>
          </div>
          {% if post.post_user.id == request.session.user_id %}
          <i id="makeChangesButton-{{ post.id }}" class="fa-solid fa-pen"></i>
          {% endif %}

          <div style="width: 10px"></div>
          {% if post.post_user.id == request.session.user_id or request.session.admin %}
          <form id="deletePostForm-{{ post.id }}" action="/delete_post/{{ post.id }}" method="post">
            {% csrf_token %}
            <i id="deletePostIcon-{{ post.id }}" class="fa-solid fa-x fa-lg"></i>
          </form>
          {% endif %}
        </div>

        <div class="descriptionPost">
          <span>{{ post.post_description }}</span>
        </div>

        <div class="imagesPost">
          <img
            id="changeImage-{{ post.id }}"
            src="/media/{{ post.post_picture }}"
            alt="postImages"
          />
        </div>

        <div class="buttonsPost" style="display: flex; justify-content: center">
          <div
            style="
              display: flex;
              flex-grow: 0.7;
              justify-content: center;
              align-items: center;
              border-right: 2px solid #bdbdbd;
              padding: 6px;
              min-height: 30px;
            "
          >
            <form
              action=""
              method="post"
              style="display: flex; justify-content: center; align-items: center"
            >
              <i
                id="like-{{ post.id }}"
                class="fa-solid fa-arrow-up fa-lg"
                style="margin-right: 0"
              ></i>
              <span
                id="like-count-{{ post.id }}"
                style="width: fit-content; margin-left: 5px; margin-right: 20px"
                >{{ post.total_likes|default:"" }}</span
              >

              <i id="dislike-{{ post.id }}" class="fa-solid fa-arrow-up fa-rotate-180 fa-lg"></i>
              <span
                id="dislikes-count-{{ post.id }}"
                style="width: fit-content; margin-left: 5px; margin-right: 10px"
                >{{ post.total_dislikes }}</span
              >
            </form>
          </div>
          <div
            style="
              display: flex;
              flex-grow: 1;
              justify-content: center;
              align-items: center;
              border-right: 2px solid #bdbdbd;
              padding: 6px 0;
              min-height: 30px;
            "
          >
            <i id="-{{ post.id }}" class="fa-solid fa-comment fa-lg" style="height: fit-content"></i>
            </i>
            <span
              id="comment-count-{{ post.id }}"
              style="width: fit-content; margin-left: 5px; margin-right: 10px"
              >{{ post.total_likes|default:"" }}</span
            >
          </div>

          <div style="display: flex; flex-grow: 1; align-items: center; justify-content: center">
            <i
              id="favorite-{{ post.id }}"
              class="fa-solid fa-heart fa-lg"
              style="width: fit-content"
            ></i>
            <span
              id="favorite-count-{{ post.id }}"
              style="width: fit-content; margin-left: 5px; margin-right: 10px"
              >{{ post.total_favorites|default:"" }}</span
            >
          </div>
        </div>
      </div>
    </div>

    <!-- MAKE CHANGES TO POST POPOUT -->
    <div id="makeChangesDiv-{{ post.id }}">
      <div class="makeReviewForm">
        <div class="before">
          <div class="headerPost">
            <img
              src="{% static '/img/logo.png' %}"
              class="profileMiniUserPicture"
              alt="mini user pfp"
            />
            <div class="userPostDetails">
              <h2>{{ user.username | title }}</h2>
            </div>
            <i id="cancelPostIcon-{{ post.id }}" class="fa-solid fa-x" style="cursor: pointer"></i>

            <!-- <i class="fa-solid fa-ellipsis fa-lg" style="color: #cc8033;"></i> -->
          </div>
          <form
            id="makeChangesForm-{{ post.id }}"
            class="makeChangesForm"
            action="/update_post/{{ post.id }}"
            method="post"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <div class="descriptionPost">
              <textarea
                id="description"
                class="postDescriptionContainer"
                name="description"
                placeholder="Speak Now..."
              >{{ post.post_description }}</textarea
              >
              <!-- <input id="postDescription" name="postDescription" type="text"  style="white-space: pre-wrap;" placeholder="Speak Now..." required> -->
            </div>

            <div id="imagesChangePost-{{ post.id }}" class="imagesChangePostDiv">
              <i class="fa-solid fa-image fa-lg">&nbsp; Add Images</i>
              <input
                type="file"
                id="changeImageInput-{{ post.id }}"
                name="changeImageInput"
                accept="image/*"
                style="display: none"
              />
            </div>
            <button type="submit" id="publishReviewButton">Save Changes</button>
          </form>
        </div>
      </div>
    </div>

    {% endfor %}

    <div style="margin: 0 auto; margin-bottom: 30px; color: #7e7e7e"> end </div>
  </div>


  <!-- PRODUCTS DIV -->
  <div class="allProductPostsParent">
    {% for product in product_list %}
      {% include 'product.html' %} 
      <div class="allProductContainer">
        <img id='productImage-{{product.id}}' src="/media/{{ product.product_picture }}" />
        <div class="productCategoryContainer">
          <div style="display: flex; gap: 8px">
            <i class="{{ product.product_category__category_icon }}"></i>
            <h5>{{ product.product_category__category_name }}</h5>
          </div>
          {% if request.session.admin %}
            <div style="display: flex; gap: 5px">
              <i id="editProduct"  onclick="editProductFunction('{{ product.id }}')" class="fa-solid fa-pen editProductStyle"></i>
              <i id="deleteProduct" onclick="deleteProductFunction()"  class="fa-solid fa-x deleteProductStyle"></i></button>
            </div>
          {% endif %}
        </div>
        <div class="productNameContainer">
          <h3>{{ product.product_name }}</h3>
          {% if not request.session.admin %}
            <i id="makeReviewButton" class="fa-solid fa-pen"></i>
          {% endif%}
        </div>
      </div>
    {% endfor %}

    {% for category in product_category%}
    {% if category.product_set.all|length  > 0 %}
      {%for product in product_list%}
      {%if product.product_category__category_name == category.category_name %}
        {% include 'product.html' %} 
        <div id='{{category.category_name}}-productContainer' class="productContainer" style="display:none;">
          <img id='productImage-{{product.id}}' src="/media/{{ product.product_picture }}" />
          <div class="productCategoryContainer">
            <div style="display: flex; gap: 8px">
              <i class="{{ product.product_category__category_icon }}"></i>
              <h5>{{ product.product_category__category_name }}</h5>
            </div>
            {% if request.session.admin %}
              <div style="display: flex; gap: 5px">
                <i id="editProduct"  onclick="editProductFunction('{{ product.id }}')" class="fa-solid fa-pen editProductStyle"></i>
                <i id="deleteProduct" onclick="deleteProductFunction()"  class="fa-solid fa-x deleteProductStyle"></i></button>
              </div>
            {% endif %}
          </div>
          <div class="productNameContainer">
            <h3>{{ product.product_name }}</h3>
            {% if not request.session.admin %}
              <i id="makeReviewButton" class="fa-solid fa-pen"></i>
            {% endif%}
          </div>
        </div>
      {%endif%}
      {%endfor%}
    <!-- {%else%}
     <!--   <div id='{{category.category_name}}-productContainer' style="display:none; height: auto; flex:1; justify-content: center;">No Products under {{category.category_name}}</div> -->
    {%endif%}
    {%endfor%}
  </div>


   


  <script src="{% static 'global.js' %}"></script>


  <!-- FOR FILTERS -->
   {{ product_category_list |json_script:"product_category_list" }}
  <script>

    const left = document.getElementById('left')
    const right = document.getElementById('right');
    const productFiltersDiv = document.getElementById('productFiltersDiv');
    const filterTabs = document.querySelectorAll('.filter-tabs');
    const width = parseFloat(getComputedStyle(productFiltersDiv).width) - 150;
    const allProducts = document.querySelectorAll('.allProductContainer');
    
    const category_list = JSON.parse(document.getElementById("product_category_list").textContent);
    category_list.map((index) => {

      const filterButton = document.getElementById(index[1]);
      filterButton.addEventListener('click', ()=>{
        filteredProductsId = index[1] + '-productContainer'
        const filteredProducts = document.getElementById(filteredProductsId);
        if(filteredProducts.style.display == 'flex'){
          filteredProducts.style.display = 'none';
        }else{
          filteredProducts.style.display = 'flex';
          allProducts.forEach((div) =>{
            div.style.display = 'none';
          }) 
        }

      })
    })

    left.addEventListener('click', (event)=>{
      productFiltersDiv.scrollTo(productFiltersDiv.scrollLeft - width, 0);
    })
    right.addEventListener('click', (event)=>{
      productFiltersDiv.scrollTo(productFiltersDiv.scrollLeft + width, 0);
    })
    
    filterTabs.forEach((button)=>{
      button.addEventListener('click', ()=>{
        const childrenArray = Array.from(productFiltersDiv.children);
        const totalActive = childrenArray.filter((child) => child.classList.contains('buttonFillStyle')).length;
        if(button.innerHTML == 'All'){
          category_list.map((index) => {
            const filterButton = document.getElementById(index[1]);
            console.log(filterButton, filterButton.classList)
            if(filterButton.classList.contains('buttonFillStyle')){
              filterButton.click();
            }
          })

          allProducts.forEach((div) =>{
            div.style.display = 'flex';
          }) 

          filterTabs.forEach((others)=>{
            toggleButton(others, 'buttonBorderStyle', 'buttonFillStyle')
          })
          toggleButton(button, 'buttonFillStyle', 'buttonBorderStyle');
          
        } else {
          if(button.classList.contains('buttonFillStyle')){
            productFiltersDiv.insertBefore(button, productFiltersDiv.children[totalActive + 1]);
            if(totalActive == 1){
              toggleButton(productFiltersDiv.children[0], 'buttonFillStyle', 'buttonBorderStyle');
              allProducts.forEach((div) =>{
                div.style.display = 'flex';
              }) 
            }
          } else {
            productFiltersDiv.insertBefore(button, productFiltersDiv.children[1]);
            toggleButton(productFiltersDiv.children[0], 'buttonBorderStyle', 'buttonFillStyle');
          }
          button.classList.toggle('buttonBorderStyle');
          button.classList.toggle('buttonFillStyle');
        }
      })
    })

    function toggleButton(button, add, remove){
      button.classList.add(add);
      button.classList.remove(remove)
    }

  </script>


  <script>
    function addProductFunction(){
        document.getElementById('addProductModal').style.display = 'flex'
    }
    function editProductFunction(id){
      const productImage = document.getElementById(`productImage-${id}`)?.src;
      if(id && productImage){
        document.getElementById(`editProductImage-${id}`).style.backgroundImage = `url(${productImage})`;
        document.getElementById(`editProductModal-${id}`).style.display = 'flex'
      }
    }
    function deleteProductFunction(){
        document.getElementById('deleteProductModal').style.display = 'flex'
    }

    const addProductImageDiv = document.getElementById('addProductImage');
    addProductImageDiv.addEventListener('click', (event)=>{
      event.stopPropagation()
      handleImagePicker(addProductImageDiv)
    });

    const editProductImageDivs = document.querySelectorAll(".editProductImageDiv");
    editProductImageDivs.forEach((div) => {
      div.addEventListener('click', (event)=>{
        event.stopPropagation()
        handleImagePicker(div)
      })
    });
  </script>

  <!-- AMBOT TAM-OK NANI DIRI AAAHAHAAAAHAHA -->
  <script>

    
    let to_delete_list = [];

    const deletePostIcon = document.getElementById("deletePostIcon");

    const undoDeletePostButtons = document.querySelectorAll(".fa-solid.fa-arrow-rotate-left.fa-lg");

    const makeChangesButton = document.getElementById("makeChangesButton");
    const makeReviewButtons = document.querySelectorAll(".fa-solid.fa-pen");
    const cancelButtons = document.querySelectorAll(".fa-solid.fa-x");

    const imagesChangePostDivs = document.querySelectorAll(".imagesChangePostDiv");
    imagesChangePostDivs.forEach((div) => {
      div.addEventListener("click", (event) => {
        event.stopPropagation();
        handleImagePicker(div);
      });
    });
    

    //makepost from the thing in home
    document.getElementById("makeReviewHeader").addEventListener("click", (event) => {
      event.stopPropagation();
      document.querySelector(".makeReviewDiv").style.display = "flex";
    });

    makeReviewButtons.forEach((icon) => {
      icon.addEventListener("click", (event) => {
        event.stopPropagation();
        const clickedId = event.target.id;
        const postId = clickedId.split("-")[1];

        console.log("Clicked ID:", clickedId, "PostID", postId, `makeChangesButton-${postId}`);

        if (clickedId === `makeChangesButton-${postId}`) {
          const makeChangesDivId = `makeChangesDiv-${postId}`;
          const makeChangesDiv = document.getElementById(makeChangesDivId);

          makeChangesDiv.style.display = "flex";

          const imgElement = document.getElementById(`changeImage-${postId}`);

          const changeImageDivId = `imagesChangePost-${postId}`;
          const changeImageDiv = document.getElementById(changeImageDivId);

          const imgSrc = imgElement.src;

          // Set the background image of "changeImageDiv"
          changeImageDiv.style.backgroundImage = `url(${imgSrc})`;
        }
        else if  (clickedId === `makeReviewButton`){
          document.querySelector(".makeReviewDiv").style.display = "flex";
        } else if (clickedId === 'editProduct'){
          editProductFunction();
        }
      });

    });

  
    cancelButtons.forEach((icon) => {
      icon.addEventListener("click", (event) => {
        event.stopPropagation();

        const clickedId = event.target.id;
        console.log("Clicked ID:", clickedId);
        const postId = clickedId.split("-")[1];

        const makeChangesDivId = `makeChangesDiv-${postId}`;
        const makeChangesDiv = document.getElementById(makeChangesDivId);

        const reviewPostId = `reviewPostContainer-${postId}`;
        const reviewPost = document.getElementById(reviewPostId);

        if (clickedId === `cancelPostIcon-${postId}`) {
          makeChangesDiv.style.display = "none";
        } else if (clickedId === `deletePostIcon-${postId}`) {
          console.log("thos", reviewPostId);
          reviewPost.classList.toggle("active");

          to_delete_list.push(postId);
          console.log(to_delete_list);
          deletePostFunction();
        } else if (clickedId === `closePostIcon-${postId}`) {
          document.getElementById(`viewPostDivBackground-${postId}`).style.display = "none";
        } else if (clickedId === 'deleteProduct'){
          deleteProductFunction();
        }
      });
    });

    undoDeletePostButtons.forEach((icon) => {
      icon.addEventListener("click", (event) => {
        event.stopPropagation();
        const clickedId = event.target.id;
        const postId = clickedId.split("-")[1];

        to_delete_list = to_delete_list.filter((item) => item !== postId);
        console.log(to_delete_list);

        const reviewPostId = `reviewPostContainer-${postId}`;
        const reviewPost = document.getElementById(reviewPostId);

        reviewPost.classList.toggle("active");
      });
    });

    function deletePostFunction() {
      to_delete_list.map((postId, index) => {
        console.log("thus", postId);
        const searchForm = document.getElementById(`deletePostForm-${postId}`);
        searchForm.submit();
      });
    }

    // Function to save the scroll position in the browser's history
    function saveScrollPosition() {
      const scrollY = window.scrollY || window.pageYOffset;
      history.pushState({ scrollY }, document.title, location.href);
    }

    // Listen for user scrolling and save the scroll position
    window.addEventListener("scroll", saveScrollPosition);

    // Restore scroll position when the page is loaded
    window.addEventListener("popstate", function (event) {
      if (event.state && event.state.scrollY) {
        window.scrollTo(0, event.state.scrollY);
      }
    });
  </script>



  <!-- FORR INTERACTION  -->
  
  {{ interaction_list |json_script:"interaction_list" }} {{user_list|json_script:"user_list"}}

  <script defer>
    // PARSE THE JSON_SCRIPT
    const interaction_list = JSON.parse(document.getElementById("interaction_list").textContent);
    const user_list = JSON.parse(document.getElementById("user_list").textContent);
    // console.log(interaction_list);

    interaction_list.map((interaction) => {
      const postId = interaction[2];

      const likeButtonId = "like-" + postId;
      const VPLikeButtonId = "VP" + likeButtonId;

      const dislikeButtonId = "dislike-" + postId;
      const VPDislikeButtonId = "VP" + dislikeButtonId;

      const favoriteButtonId = "favorite-" + postId;
      const VPFavoriteButtonId = "VP" + favoriteButtonId;

      // console.log("buttons id", likeButtonId, dislikeButtonId, favoriteButtonId);

      const likeButton = document.getElementById(likeButtonId);
      const VPLikeButton = document.getElementById(VPLikeButtonId);

      const dislikeButton = document.getElementById(dislikeButtonId);
      const VPDislikeButton = document.getElementById(VPDislikeButtonId);

      const favoriteButton = document.getElementById(favoriteButtonId);
      const VPFavoriteButton = document.getElementById(VPFavoriteButtonId);

      if (interaction[4]) {
        likeButton.classList.toggle("active");
        VPLikeButton.classList.toggle("active");
      }
      if (interaction[5]) {
        dislikeButton.classList.toggle("active");
        VPDislikeButton.classList.toggle("active");
      }
      if (interaction[6]) {
        favoriteButton.classList.toggle("active");
        VPFavoriteButton.classList.toggle("active");
      }
    });

    const likeButtons = document.querySelectorAll(".fa-solid.fa-arrow-up.fa-lg");
    likeButtons.forEach((button) => {
      button.addEventListener("click", (event) => {
        event.stopPropagation();
        button.classList.toggle("active");

        console.log("anon", event.target.id, button.classList, button.id);

        const postId = event.target.id.split("-")[1];

        

        // dislike button
        if (event.target.classList[2] === "fa-rotate-180") {
          document.getElementById(`VPdislike-${postId}`).classList.toggle("active");

          const dislikesSpan = document.querySelector(`#dislikes-count-${postId}`);
          const VPdislikeCountSpan = document.querySelector(`#VPdislike-count-${postId}`);
          const csrftoken = getCookie("csrftoken");

          fetch(`/dislike_interaction/{{ user.id }}/${postId}/`, {
            method: "POST",
            headers: {
              "X-CSRFToken": csrftoken,
              "Content-Type": "application/json",
            },
          })
            .then((response) => response.json())
            .then((data) => {
              dislikesSpan.textContent = data.total_dislikes === 0 ? "" : data.total_dislikes;
              VPdislikeCountSpan.textContent = data.total_dislikes === 0 ? "" : data.total_dislikes;
              console.log("dissslikeeeess", data, dislikesSpan);
            })
            .catch((error) => {
              console.error("Error updating like count:", error);
            });

          // like button
        } else if (event.target.classList[2] === "fa-lg") {
          console.log("hayss");

          document.getElementById(`VPlike-${postId}`).classList.toggle("active");

          const likeCountSpan = document.querySelector(`#like-count-${postId}`);
          const VPlikeCountSpan = document.querySelector(`#VPlike-count-${postId}`);
          const csrftoken = getCookie("csrftoken");

          fetch(`/like_interaction/{{ user.id }}/${postId}/`, {
            method: "POST",
            headers: {
              "X-CSRFToken": csrftoken,
              "Content-Type": "application/json",
            },
          })
            .then((response) => response.json())
            .then((data) => {
              likeCountSpan.textContent = data.total_likes === 0 ? "" : data.total_likes;
              VPlikeCountSpan.textContent = data.total_likes === 0 ? "" : data.total_likes;
              console.log("ababaabab", data, likeCountSpan);
            })
            .catch((error) => {
              console.error("Error updating like count:", error);
            });
        }
      });
    });

    const heartButtons = document.querySelectorAll(".fa-solid.fa-heart.fa-lg");
    heartButtons.forEach((button) => {
      button.addEventListener("click", (event) => {
        event.stopPropagation();
        button.classList.toggle("active");
        const postId = event.target.id.split("-")[1];

        document.getElementById(`VPfavorite-${postId}`).classList.toggle("active");

        const favoriteCountSpan = document.querySelector(`#favorite-count-${postId}`);
        const VPfavoriteCountSpan = document.querySelector(`#VPfavorite-count-${postId}`);

        const csrftoken = getCookie("csrftoken");

        fetch(`/heart_interaction/{{ user.id }}/${postId}/`, {
          method: "POST",
          headers: {
            "X-CSRFToken": csrftoken,
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data, "lo");
            favoriteCountSpan.textContent = data.total_favorites === 0 ? "" : data.total_favorites;
            VPfavoriteCountSpan.textContent =
              data.total_favorites === 0 ? "" : data.total_favorites;
          })
          .catch((error) => {
            console.error("Error updating like count:", error);
          });
      });
    });

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  </script>

  <!-- JS FOR COMMENT INTERACTIONS -->
  <script>

    
    const commentButtons = document.querySelectorAll(".fa-solid.fa-comment.fa-lg");
    commentButtons.forEach((button) => {
      button.addEventListener("click", (event) => {
        event.stopPropagation();
        const clickedId = event.target.id;
        const postId = clickedId.split("-")[1];

        //another approach - tedious
        // const post = document.getElementById(`reviewPostContainer-${postId}`).getAttribute("data");

        //if there is ID, then proceed
        if (clickedId) {
          const divvy = document.getElementById(`viewPostDivBackground-${postId}`);
          divvy.style.display = "flex";
          console.log(divvy);
          // document.querySelector(".viewPostDivBackground").style.display = "flex";
        }
      });
    });

    
    const submitCommentButtons = document.querySelectorAll(".submit-comment-button");
    submitCommentButtons.forEach((button) => {
      button.addEventListener("click", (event) => {
        event.stopPropagation();
        const csrftoken = getCookie("csrftoken");
        const postId = button.id.split("-")[3];

        console.log(`/add_comment/{{ user.id }}/${postId}/`, event.target.id);

        const commentElement = document.getElementById(`commentInput-${postId}`);
        const commentValue = commentElement.value;

        console.log(commentElement, commentValue);

        if (commentValue != "") {
          console.log("yolo");

          fetch(`/add_comment/{{ user.id }}/${postId}/`, {
            method: "POST",
            headers: {
              "X-CSRFToken": csrftoken,
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ comment_text: commentValue }),
          })
            .then((response) => response.json())
            .then((data) => {
              console.log("the data", data, );

              // Append the new comment to the comments section
              const originalCommentDiv = document.querySelector(".commentContain");
              const clonedCommentDiv = originalCommentDiv.cloneNode(true);
              clonedCommentDiv.id = "clonedParent"; // Change the ID to avoid duplicates

              const pChildElements = clonedCommentDiv.getElementsByTagName("p");
              const buttonChildElements = clonedCommentDiv.getElementsByTagName("button");
              const inputChildElements = clonedCommentDiv.getElementsByTagName("input");

              pChildElements[0].innerText = data.comment_username;
              //pChildElements[1] does not need to change
              
              pChildElements[2].innerText = data.datetime_now;

              buttonChildElements[0].id = `reply-comment-${data.new_comment.id}`;
              buttonChildElements[1].id = `edit-comment-${data.new_comment.id}`;
              buttonChildElements[2].id = `delete-comment-${data.new_comment.id}`;

              inputChildElements[0].id = `userCommentInput-${data.new_comment.id}`;
              inputChildElements[0].attributes[6].textContent = `${data.new_comment.comment_description}`;

              const container = document.getElementById(
                `actualCommentsContainer-${data.new_comment.post}`
              );
              console.log("kis", container)
              container.appendChild(clonedCommentDiv);

              assignReplyFunction();
              assignEditFunction();
              assignDeleteFunction();

              //scroll to the bottom of div
              container.scrollTo(0, container.scrollHeight);
            })
            .catch((error) => {
              console.error("Error adding comment ( :< ) :", error);
            });

            commentElement.value = "";
        }
      });
    });

    function assignReplyFunction() {
      const replyCommentButtons = document.querySelectorAll(".reply-comment");
      replyCommentButtons.forEach((button) => {
        button.addEventListener("click", (event) => {
          event.stopPropagation();
          const clickedId = event.target.id;
          const replyId = clickedId.split("-")[2];

          console.log(replyId, "reply");

          // alert("Reply saved! AHAHAHAHAHH");

          // Append the new comment to the comments section
          const originalCommentDiv = document.querySelector(".commentContain");
          const clonedCommentDiv = originalCommentDiv.cloneNode(true);
          clonedCommentDiv.id = "clonedParent"; // Change the ID to avoid duplicates

          const pChildElements = clonedCommentDiv.getElementsByTagName("p");

          const commentsDetailsDiv = clonedCommentDiv.querySelector(".detailsDiv");

          console.log("this is comments", commentsDetailsDiv);
          const buttonChildElements = clonedCommentDiv.getElementsByTagName("button");
          const inputChildElements = clonedCommentDiv.getElementsByTagName("input");

          const replyDetailsDiv = commentsDetailsDiv.cloneNode(true);

          pChildElements[0].innerText = user_list[0][1];

          // reset the replyDetailsDiv since it's a copy of commentsDetailsDiv
          for (let i = replyDetailsDiv.childElementCount - 1; i >= 0; i--) {
            replyDetailsDiv.removeChild(replyDetailsDiv.children[i]);
          }

          let saveReplyButton = buttonChildElements[0].cloneNode(true);
          saveReplyButton.id = `save-reply-${replyId}`;
          saveReplyButton.innerText = "Save";

          let cancelReplyButton = buttonChildElements[0].cloneNode(true);
          cancelReplyButton.id = `cancel-reply-${replyId}`;
          cancelReplyButton.innerText = "Cancel";

          replyDetailsDiv.appendChild(saveReplyButton);
          replyDetailsDiv.appendChild(cancelReplyButton);

          inputChildElements[0].id = `userReplyInput-${replyId}`;
          inputChildElements[0].attributes[6].value = "";
          inputChildElements[0].placeholder = "Reply to {{ user.username|title}}...";
          inputChildElements[0].removeAttribute("disabled");

          clonedCommentDiv.appendChild(replyDetailsDiv);
          clonedCommentDiv.removeChild(commentsDetailsDiv);

          let childElement = button;

          while (
            childElement.parentElement &&
            !childElement.parentElement.classList.contains("commentsParentDiv")
          ) {
            console.log(childElement.parentElement.classList);
            childElement = childElement.parentElement;
          }
          console.log("child", pChildElements, childElement, user_list);

          childElement.appendChild(clonedCommentDiv);

          // FUNCTIONS
          document.getElementById(`userReplyInput-${replyId}`).focus();
          document.getElementById(`save-reply-${replyId}`).addEventListener("click", (event) => {
            event.stopPropagation();

            const replyInput = document.getElementById(`userReplyInput-${replyId}`);

            const csrftoken = getCookie("csrftoken");

            if(replyInput.value){
            fetch(`/add_reply/{{ user.id}}/${replyId}/`, {
              method: "POST",
              headers: {
                "X-CSRFToken": csrftoken,
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ reply_content: replyInput.value }),
            })
              .then((response) => response.json())
              .then((data) => {
                console.log("Reply saved!", data);
              })
              .catch((error) => {
                console.error("Error updating like count:", error);
              });

            replyInput.disabled = true;

            clonedCommentDiv.removeChild(replyDetailsDiv);
            
            let editReplyButton = document.getElementById(`edit-comment-${replyId}`);
            editReplyButton.id = `edit-reply-${replyId}`;
            editReplyButton.innerText = "Edit";

            let deleteReplyButton = document.getElementById(`delete-comment-${replyId}`);
            deleteReplyButton.id = `delete-reply-${replyId}`;
            deleteReplyButton.innerText = "Delete";

            commentsDetailsDiv.appendChild(editReplyButton);
            commentsDetailsDiv.appendChild(deleteReplyButton);

            clonedCommentDiv.appendChild(commentsDetailsDiv);
            console.log(commentsDetailsDiv);
            }
        else{
          alert('wow');
        }
          });
        

          document.getElementById(`cancel-reply-${replyId}`).addEventListener("click", (event) => {
            event.stopPropagation();
            childElement.removeChild(clonedCommentDiv);
          });
        });
      });
    }
    assignReplyFunction();

    function assignEditFunction() {
      const editCommentButtons = document.querySelectorAll(".edit-comment");
      editCommentButtons.forEach((button) => {
        button.addEventListener("click", (event) => {
          event.stopPropagation();
          const clickedId = event.target.id;
          const commentId = clickedId.split("-")[2];

          console.log(commentId, "edittt");

          const commentDescriptionInput = document.getElementById(`userCommentInput-${commentId}`);

          if (button.textContent.trim() == "Edit") {
            commentDescriptionInput.removeAttribute("disabled");
            commentDescriptionInput.focus();
            button.textContent = "Save";
            console.log(button.textContent);
          } else if (button.textContent.trim() == "Save") {
            commentDescriptionInput.disabled = true;
            button.textContent = "Edit";
            console.log(button.textContent, commentDescriptionInput.value);

            const csrftoken = getCookie("csrftoken");

            fetch(`/edit_comment/${commentId}/`, {
              method: "POST",
              headers: {
                "X-CSRFToken": csrftoken,
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ newCommentDescription: commentDescriptionInput.value }),
            })
              .then((response) => response.json())
              .then((data) => {
                console.log("gregrgrgr", commentValue, data);
              })
              .catch((error) => {
                console.error("Error updating like count:", error);
              });
          }
        });
      });
    }
    assignEditFunction();

    function assignDeleteFunction() {
      const deleteCommentButtons = document.querySelectorAll(".delete-comment");
      deleteCommentButtons.forEach((button) => {
        button.addEventListener("click", (event) => {
          event.stopPropagation();
          const clickedId = event.target.id;
          const commentId = clickedId.split("-")[2];

          const csrftoken = getCookie("csrftoken");

          fetch(`/delete_comment/${commentId}/`, {
            method: "DELETE",
            headers: {
              "X-CSRFToken": csrftoken,
              "Content-Type": "application/json",
            },
          })
            .then((response) => response.json())
            .then((data) => {
              console.log("gregrgrgr", data);
            })
            .catch((error) => {
              console.error("Error updating like count:", error);
            });


          let childElement = document.getElementById(`userCommentInput-${commentId}`);
          let repliesContainer = button.parentElement.parentElement.parentElement.parentElement;
          let repliesElement = button.parentElement.parentElement.parentElement;

          const parentElement = childElement.parentElement.parentElement.parentElement;
          while (
            childElement.parentElement &&
            !childElement.parentElement.classList.contains("commentsParentDiv")
          ) {
            console.log(childElement.parentElement.classList);
            childElement = childElement.parentElement;
          }
          console.log("child", childElement, parentElement);
          
          console.log(commentId, repliesContainer, repliesElement, "bbababbb")
          if(repliesContainer){
            repliesContainer.removeChild(repliesElement)
          }else{
            childElement.removeChild(parentElement);
          }
        });
      });
    }
    assignDeleteFunction();
  </script>

  <!-- <script>

    // Listen for clicks anywhere on the document
      document.addEventListener("click", () => {

        if (settingsDiv.classList.contains("active")) {
          settingsDiv.classList.toggle("active");
          for (const div of divElements) {
            div.classList.toggle("active");
          }
        }

        // FOR THE VIEW POST POPOUT
        const viewPostDivs = document.querySelectorAll(`.viewPostDivBackground`);
        viewPostDivs.forEach((div) => {
          if(div.style.display != 'none'){
            div.style.display = 'none';
          }
        });

        // FOR THE ADD POST POPOUT
        if(makeReviewDiv.style.display != 'none'){
          makeReviewDiv.style.display = 'none';
        }
        

      });
  </script> -->
</body>

{%endblock%}
