{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>PurrfectlyRated</title>
    <link rel="icon" href="{% static '/img/logo.png' %}" type="image/x-icon" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://fonts.googleapis.com/css?family=Lexend" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="{% static 'master.css' %}" />

    {% block head %} {% endblock %}
  </head>

  <body>
    <nav class="masterNav">
      <div class="logo" id="logoDiv">
        <img id="AppLogo" src="{% static '/img/logo.png' %}" alt="PurrfectlyRated Logo" />
        <h1 style="font-size: 1.4em">Purrfectly<span class="rated">Rated</span></h1>
      </div>

      {% if session_data.id %}
      <div class="navigateContentParent">
        <a id="feedContentButton" style="color: grey" href="/home/feed/">
          <h2>Reviews</h2>
        </a>
        <a id="productContentButton" style="color: grey" href="/home/product/">
          <h2>Products</h2>
        </a>
      </div>
      {% endif %}

      <div class="icons">
        {% if session_data.id %}
        <div class="inputDiv">
          <form id="searchForm" method="post">
            {% csrf_token %}
            <input
              type="text"
              id="searchInput"
              onkeypress="handleOnEnter(event)"
              name="searchInput"
              placeholder="Search..."
            />
          </form>
          <i class="fa fa-search transparent-icon"></i>
        </div>

        <i class="fa-solid fa-bell"></i>
        <!-- <i style="cursor: pointer" class="fa-solid fa-moon"></i> -->
        <i  class="fa-solid fa-sun"></i>
        <!-- <i id="userButton" style="cursor: pointer" class="fa fa-user transparent-icon"></i> -->

        {% else %}
        <div style="width: 40%"></div>
        <button id="adminButton" class="buttonBorderStyle">Admin</button>
        <button id="loginButton" class="buttonFillStyle">Login</button>
        {% endif %}
      </div>
    </nav>

    <!-- <div class="settingsDiv">
      <div id="profileSubDiv"><i class="fa-solid fa-user"></i>Your Profile</div>
      <div id="deleteSubDiv"><i class="fa-solid fa-user"></i>Delete Account</div>
      <div id="logOutSubDiv"><i class="fa-solid fa-right-from-bracket"></i>Log Out</div>
    </div> -->


    <!-- NOTIFICATIONS -->
    <div class="notificationsDiv">
      <span id="profileSubDiv"><i class="fa-solid fa-user"></i>Your Profile</span>
      <span id="deleteSubDiv"><i class="fa-solid fa-user"></i>Delete Account</span>
      <span id="logOutSubDiv"><i class="fa-solid fa-right-from-bracket"></i>Log Out</span>
    </div>

    {% if session_data.id %}
    <!-- SIDE NAV DIV -->
    <div class="navside">
      <a href="/profile">
        <div id="profile-tab" class="profile-nav">
          <img
            style="width: 40px; height: 40px"
            src="{% static '/img/logo.png' %}"
            alt="PurrfectlyRated Logo"
          />
          <h3>{{ request.session.username| title}}</h3>
        </div>
      </a>

      <div class="border-top"></div>

      <a href="/home/feed"><h4 id="home-tab" class="tabs">Home</h4></a>
      <a href="/favorites"><h4 id="fav-tab" class="tabs">Favorites</h4></a>
      <!-- <a href="/notifications"><h4 id="notif-tab" class="tabs">Notifications</h4></a> -->
      <a href="/about" class="margin-top"><h4 id="about-tab" class="tabs">About</h4></a>
      <a href="/team"><h4 id="team-tab" class="tabs">Developers</h4></a>
      <a href="/authentication/logout"><h4 id="logout-tab" class="tabs">Logout</h4></a>
    </div>

    {%endif%}

    <div class="copyright">
      <p>PurrfectlyRated &bull; Copyright (c) {{ current_year}}</p>
    </div>

    <!-- THE CHILD -->

    {% block content %} {% endblock %}

    <!-- FOR NAVIGATIONS TAB -->
    <script>
      const topNav = document.querySelector(".navigateContentParent");

      // BUTTONS
      const home_button = document.getElementById("home-tab");
      const profile_button = document.getElementById("profile-tab");
      const favorite_button = document.getElementById("fav-tab");
      const notif_button = document.querySelector('.fa-bell')
      const logout_button = document.getElementById("logout-tab");
      const about_button = document.getElementById("about-tab");
      const team_button = document.getElementById("team-tab");

      // CONTENTS OF THE TABS
      const homeContentDiv = document.getElementById("v");
      const profileContentDiv = document.getElementById("profileContentDiv");
      const favoriteContentDiv = document.getElementById("favoriteContentDiv");
      const notifContentDiv = document.getElementById("notifContentDiv");
      const aboutContentDiv = document.getElementById("aboutContentDiv");
      const teamContentDiv = document.getElementById("teamContentDiv");



      notif_button.addEventListener('click', ()=>{
        document.querySelector('.notificationsDiv').classList.toggle('active')
      })
      // const sideBarButtons = [
      //   { tab: home_button, content: null },
      //   { tab: profile_button, content: homeContentDiv },
      //   { tab: favorite_button, content: favoriteContentDiv },
      //   { tab: notif_button, content: notifContentDiv },
      //   { tab: about_button, content: aboutContentDiv },
      //   { tab: team_button, content: teamContentDiv },
      // ];

      // function addFunctionToSideBarButton() {
      //   sideBarButtons.map((activeButton) => {
      //     console.log("ef", activeButton);
      //     activeButton.tab.addEventListener("click", (event) => {
      //       // TOGGLE ALL BUTTONS TO INACTIVE and HIDE ITS CONTENT
      //       sideBarButtons.map((button) => {
      //         if (button.tab.classList.contains("active")) {
      //           button.tab.classList.toggle("active");
      //           if (button.content) {
      //             button.content.style.display = "none";
      //           }
      //           topNav.style.display = "none";
      //         }
      //       });
      //       //  MAKE ACTIVE THE CLICKED BUTTON and SHOW ITS CONTENT
      //       activeButton.tab.classList.toggle("active");
      //       if (activeButton.content) {
      //         activeButton.content.style.display = "flex";
      //       }
      //       // MEANING HOME IS CLICKED
      //       else if (!activeButton.content) {
      //         topNav.style.display = "flex";
      //       }
      //     });
      //   });
      // }

      // document.addEventListener("DOMContentLoaded", function () {
      //   addFunctionToSideBarButton();
      // });
    </script>

    <script>
      const theme = localStorage.getItem("theme");
      theme && document.body.classList.add(theme);

      // BUTTONS
      const lightmode = document.querySelector(".fa-solid.fa-sun");
      lightmode?.addEventListener("click", (event) => {
        lightmode.classList.toggle("fa-sun");
        lightmode.classList.toggle("fa-moon");
        document.body.classList.toggle("moon");
        if (document.body.classList.contains("moon")) {
          localStorage.setItem("theme", "moon");
        } else {
          localStorage.removeItem("theme");
        }
      });

      const userButton = document.getElementById("userButton");
      const loginButton = document.getElementById("loginButton");
      const adminButton = document.getElementById("adminButton");
      const profileButton = document.getElementById("profileSubDiv");
      // const deleteButton = document.getElementById("deleteSubDiv");
      const logOutButton = document.getElementById("logOutSubDiv");

      // DIVS
      const settingsDiv = document.querySelector(".settingsDiv");
      // const divElements = settingsDiv.getElementsByTagName("div");

      const session_data = {
        id: "{{ session_data.id }}",
      };

      userButton?.addEventListener("click", (event) => {
        // Prevent the click event from propagating to the document
        event.stopPropagation();
        console.log(session_data.id);

        if (!session_data.id) {
          window.location.href = "/authentication/login";
        } else {
          settingsDiv.classList.toggle("active");
        }
      });

      loginButton?.addEventListener("click", (event) => {
        // Prevent the click event from propagating to the document
        event.stopPropagation();
        console.log('fefef')
        window.location.href = "/authentication/login";
      });

      adminButton?.addEventListener("click", (event) => {
        // Prevent the click event from propagating to the document
        event.stopPropagation();
        window.location.href = "/authentication/admin";
      });

      profileButton.addEventListener("click", (event) => {
        event.stopPropagation();
        window.location.href = "/profile";
      });

      logOutButton.addEventListener("click", (event) => {
        event.stopPropagation();
        window.location.href = "/authentication/logout";
      });

      function handleOnEnter(event) {
        if (event.key === "Enter") {
          const searchForm = document.getElementById("searchForm");
          if (searchForm) {
            searchForm.action = `/search=${searchInput.value}`;
            searchForm.submit();
          }
        }
      }
    </script>
  </body>
</html>
