{% extends "master.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'master.css' %}">
    
{% endblock %}


{% block content %}

{% include "add_post.html" with from_page='profile' %}

<div class="addBioDiv">
    <div class="addBioContent">
    <h1>Add Bio</h1>
    <form
        method="post"
        action="/profile/"
        style="display: flex; flex-direction: column; gap: 8px"
    >
        {% csrf_token %}
        <input placeholder="{{ user.bio | default:'Add Bio'}}" name="bio" id="bio" />
 
        <div style="display: flex; gap: 10px;">
        <button id="saveBioButton" type="submit" class="buttonFillStyle">Save Changes</button>
        <button id="cancelBioButton" type="button" class="buttonBorderStyle">Cancel</button>
        </div>
    </form>
    </div>
</div>

<div class="addLocationDiv">
    <div class="addLocationContent">
    <h1>Add Location</h1>
    <form
        method="post"
        action="/profile/"
        style="display: flex; flex-direction: column; gap: 8px"
    >
        {% csrf_token %}
        <input placeholder="{{ user.location | default:'Add Location'}}" name="location" id="location" />
 
        <div style="display: flex; gap: 10px;">
        <button id="saveLocationButton" type="submit" class="buttonFillStyle">Save Changes</button>
        <button id="cancelLocationButton" type="button" class="buttonBorderStyle">Cancel</button>
        </div>
    </form>
    </div>
</div>

<div class="editAccountDiv">
    <div class="editAccountContent">
    <h1>Edit Profile</h1>
    <form
        method="post"
        action="/profile/"
        style="display: flex; flex-direction: column; gap: 8px"
    >
        {% csrf_token %}
        <input placeholder="{{ user.username| title }}" name="username" id="username" />
        <input placeholder="{{ user.bio | default:'Add Bio'}}" name="bio" id="bio" />
        <input placeholder="{{ user.location | default:'Add Location'}}" name="location" id="location" />

        <div class="buttonsDiv">
        <button id="saveEditButton" type="submit" class="buttonFillStyle">Save Changes</button>
        <button id="cancelEditButton" type="button" class="buttonBorderStyle">Cancel</button>
        </div>
    </form>
    </div>
</div>

<div class="deleteAccountDiv">
    <div class="deleteAccountContent">
    <h3 style="text-align: center">Your account will be deleted.<br />Are you sure?</h3>
    <div class="buttonsDiv">
        <button id="confirmDeleteButton" class="buttonFillStyle">Confirm</button>
        <button id="cancelDeleteButton" class="buttonBorderStyle">Cancel</button>
    </div>
    </div>
</div> 

<div style="width: 60%; display: flex; flex-direction: column; margin: 0 auto;">


<div class="profileUserDetailsContainer">
    <div class="profileUserBackground">
        <div class="profileUserPicture">
           <img src="{% static '/img/pfp.png' %}" alt="user pfp"></img>
        </div>
    </div>
    
    <div class="profileUserName">
        <h2>{{ user.username|title }}&nbsp;{{ user.lastname}}</h2>
        <div style="display: flex; gap: 10px">
        <button id="editProfileButton" class="buttonFillStyle"><b><i class="fa-solid fa-pen fa-xs"></i>&emsp;Edit Profile</b></button>
        <button id="deleteProfileButton" class="buttonBorderStyle"><span style="color:inherit">Delete Profile</span></button>
        </div>
    </div>
</div>



<div class="profileContent">
    <div class="dashboard" >
        {% if user.bio %}
            <div><p class="subDetailsTitle">Bio
                <span style="font-size: 10px; display: flex; align-items: center; gap: 10px">
                <i class="fa-solid fa-pen"></i>
                <i class="fa-solid fa-x fa-lg"></i>
                </span>
            </p>
            <p class="subDetailsContent">{{ user.bio }}</p>
            </div>
        {%else%}
            <button id='addBioButton' style="width:100%;" class="buttonFillStyle"><i style="border: 1px solid white; padding: 3px; font-size: small; border-radius: 50%" class="fa-solid fa-plus"></i>&nbsp;Add Bio</button>
        {%endif%}

        {% if user.location %}
            <div><p class="subDetailsTitle">Location
                 <span style="font-size: 10px; display: flex; align-items: center; gap: 10px">
                <i class="fa-solid fa-pen"></i>
                <i class="fa-solid fa-x fa-lg"></i>
                </span>
            </p>
            <p class="subDetailsContent">{{ user.location }}</p>
            </div>
        {%else%}
            <button id='addLocationButton' style="width:100%;" class="buttonFillStyle"><i style="border: 1px solid white; padding: 3px; font-size: small; border-radius: 50%" class="fa-solid fa-plus"></i>&nbsp;Add Location</button>
        {%endif%}
    </div>
    
    <div class="userPosts">
        <div class="searchBarContainer">
            <div class="top">
                <img src="{% static '/img/logo.png' %}" class="profileMiniUserPicture" alt="mini user pfp"/>
                <div id="makeReviewHeader" name="makeReviewHeader">Got something to say?</div>
                <i class="fa-solid fa-image" style="color: rgb(182, 106, 29);"></i>
            </div>
        </div>

    {% if user_post_list %}

        <p class="title"> Your Reviews </p>
        <div class="allReviewPostsParent">
            {% for post in user_post_list %}
                
            <div id="reviewPostContainer-{{ post.id }}" data="{{ post }}">
                <div class="after">
                    <h3>This post has been deleted!</h3>
                    <form action="/undelete_post/{{ post.id }}" method="post">
                    {% csrf_token %}
                    <i
                        id="undoDeletePostButton-{{ post.id }}"
                        class="fa-solid fa-arrow-rotate-left fa-lg"
                    ></i>
                    </form>
                </div>

                <div class="before">
                    <div class="headerPost">
                    <img
                        src="{% static '/img/logo.png' %}"
                        class="profileMiniUserPicture"
                        alt="mini user pfp"
                    />
                    <div class="userPostDetails">
                        <h2>{{ user.username | title }}</h2>
                        <span>{{ post.datetime_published }}</span>
                    </div>
                    {% if post.post_user_id == request.session.user_id %}
                        <i id="makeChangesButton-{{ post.id }}" class="fa-solid fa-pen"></i>
                    {% endif %}

                    <div style="width: 10px"></div>
                    {% if post.post_user_id == request.session.user_id %}
                        <form id="deletePostForm-{{ post.id }}" action="/delete_post/{{ post.id }}" method="post">
                            {% csrf_token %}
                            <i id="deletePostIcon-{{ post.id }}" class="fa-solid fa-x fa-lg"></i>
                        </form>
                    {% endif %}
                    </div>

                    <div class="descriptionPost">
                    <span>{{ post.post_description }}</span>
                    </div>

                    <div class="imagesPost">
                    <img
                        id="changeImage-{{ post.id }}"
                        src="/media/{{ post.post_picture }}"
                        alt="postImages"
                    />
                    </div>

                    <div class="buttonsPost" style="display: flex; justify-content: center">
                    <div
                        style="
                        display: flex;
                        flex-grow: 0.7;
                        justify-content: center;
                        align-items: center;
                        border-right: 2px solid #bdbdbd;
                        padding: 6px;
                        "
                    >
                        <form
                        action=""
                        method="post"
                        style="display: flex; justify-content: center; align-items: center"
                        >
                        <i
                            id="like-{{ post.id }}"
                            class="fa-solid fa-arrow-up fa-lg"
                            style="margin-right: 0"
                        ></i>
                        <span
                            id="like-count-{{ post.id }}"
                            style="width: fit-content; margin-left: 5px; margin-right: 20px"
                            >{{ post.total_likes|default:"" }}</span
                        >

                        <i id="dislike-{{ post.id }}" class="fa-solid fa-arrow-up fa-rotate-180 fa-lg"></i>
                        <span
                            id="dislikes-count-{{ post.id }}"
                            style="width: fit-content; margin-left: 5px; margin-right: 10px"
                            >{{ post.total_dislikes }}</span
                        >
                        </form>
                    </div>
                    <div
                        style="
                        display: flex;
                        flex-grow: 1;
                        justify-content: center;
                        align-items: center;
                        border-right: 2px solid #bdbdbd;
                        padding: 6px 0;
                        height: 20px;
                        "
                    >
                        <i id="-{{ post.id }}" class="fa-solid fa-comment fa-lg" style="height: fit-content"></i>
                        </i>
                        <span
                        id="comment-count-{{ post.id }}"
                        style="width: fit-content; margin-left: 5px; margin-right: 10px"
                        >{{ post.total_likes|default:"" }}</span
                        >
                    </div>

                    <div style="display: flex; flex-grow: 1; align-items: center; justify-content: center">
                        <i
                        id="favorite-{{ post.id }}"
                        class="fa-solid fa-heart fa-lg"
                        style="width: fit-content"
                        ></i>
                        <span
                        id="favorite-count-{{ post.id }}"
                        style="width: fit-content; margin-left: 5px; margin-right: 10px"
                        >{{ post.total_favorites|default:"" }}</span
                        >
                    </div>
                    </div>
                </div>
                </div>

                <!-- MAKE CHANGES TO POST POPOUT -->
                <div id="makeChangesDiv-{{ post.id }}">
                <div class="makeReviewForm">
                    <div class="before">
                    <div class="headerPost">
                        <img
                        src="{% static '/img/logo.png' %}"
                        class="profileMiniUserPicture"
                        alt="mini user pfp"
                        />
                        <div class="userPostDetails">
                        <h2>{{ user.username | title }}</h2>
                        </div>
                        <i id="cancelPostIcon-{{ post.id }}" class="fa-solid fa-x" style="cursor: pointer"></i>

                        <!-- <i class="fa-solid fa-ellipsis fa-lg" style="color: #cc8033;"></i> -->
                    </div>
                    <form
                        id="makeChangesForm-{{ post.id }}"
                        class="makeChangesForm"
                        action="/update_post/{{ post.id }}"
                        method="post"
                        enctype="multipart/form-data"
                    >
                        {% csrf_token %}
                        <div class="descriptionPost">
                        <textarea
                            id="description"
                            name="description"
                            style="
                            width: 100%;
                            min-width: 100%;
                            min-height: 20px;
                            background-color: #ffead1;
                            height: 20px;
                            padding: 10px;
                            border: none;
                            "
                            placeholder="Speak Now..."
                        >
                            {{ post.post_description }}</textarea
                        >
                        <!-- <input id="postDescription" name="postDescription" type="text"  style="white-space: pre-wrap;" placeholder="Speak Now..." required> -->
                        </div>

                        <div id="imagesChangePost-{{ post.id }}" class="imagesChangePostDiv">
                        <i class="fa-solid fa-image fa-lg">&nbsp; Add Images</i>
                        <input
                            type="file"
                            id="changeImageInput-{{ post.id }}"
                            name="changeImageInput"
                            accept="image/*"
                            style="display: none"
                        />
                        </div>
                        <button type="submit" id="publishReviewButton">Save Changes</button>
                    </form>
                    </div>
                </div>
                </div>

            {% endfor %}

            <div style="margin: 0 auto; margin-bottom: 30px; color: #7e7e7e"> end </div>
        </div>
    
    {% else %}
        <div class="profileReviews">
            <p>No Reviews Made.</p>
        </div>
    
    {% endif %}
    </div>

</div>

</div>


<script src="{% static 'global.js' %}"></script>
<script>
    
    document.getElementById("profile-tab").classList.toggle("active");

    const makeReviewHeader = document.getElementById("makeReviewHeader");

    const addBioButton = document.getElementById('addBioButton');
    const saveBioButton = document.getElementById('saveBioButton');
    const cancelBioButton = document.getElementById('cancelBioButton');

    const addLocationButton = document.getElementById('addLocationButton')
    const saveLocationButton = document.getElementById('saveLocationButton');
    const cancelLocationButton = document.getElementById('cancelLocationButton');
    
    const saveEditButton = document.getElementById("saveEditButton");
    const cancelEditButton = document.getElementById("cancelEditButton");
    
    const editProfileButton = document.getElementById('editProfileButton')
    const deleteProfileButton = document.getElementById('deleteProfileButton')
    
    const confirmDeleteButton = document.getElementById("confirmDeleteButton");
    const cancelDeleteButton = document.getElementById("cancelDeleteButton");
      
    const editAccountDiv = document.querySelector(".editAccountDiv");
    const deleteAccountDiv = document.querySelector(".deleteAccountDiv");
    const addBioDiv = document.querySelector('.addBioDiv');
    const addLocationDiv = document.querySelector('.addLocationDiv')

    makeReviewHeader.addEventListener("click", ()=>{
        document.querySelector(".makeReviewDiv").style.display = "flex";
    });

    addBioButton?.addEventListener("click", (event)=>{
        addBioDiv.style.display = 'flex';
    })

    saveBioButton.addEventListener("click", (event)=>{
        addBioDiv.style.display = 'none';
    })

    cancelBioButton.addEventListener("click", (event)=>{
        addBioDiv.style.display = 'none';
    })

    addLocationButton?.addEventListener("click", (event)=>{
        addLocationDiv.style.display = 'flex';
    })

    saveLocationButton.addEventListener("click", (event)=>{
        addLocationDiv.style.display = 'none';
    })

    cancelLocationButton.addEventListener("click", (event)=>{
        addLocationDiv.style.display = 'none';
    })
    
    saveEditButton.addEventListener("click", (event) => {
        editAccountDiv.style.display = "none";
    });

    cancelEditButton.addEventListener("click", (event) => {
        editAccountDiv.style.display = "none";
    });

    editProfileButton.addEventListener("click", (event) => {
        editAccountDiv.style.display = "flex";
    });

    deleteProfileButton.addEventListener("click", (event) => {
        deleteAccountDiv.style.display = "flex";
    });

    confirmDeleteButton.addEventListener("click", (event) => {
        window.location.href = `/authentication/delete_account/${session_data.id}`;
    });

    cancelDeleteButton.addEventListener("click", (event) => {
        deleteAccountDiv.style.display = "none";
    });


    

</script>

   
{% endblock %}