{% extends "master.html" %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'search_body.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />

{% endblock %} {% block content %}

{% if posts_list %}
<div class="searchContentContainer" style="
    display: flex;
      flex-direction: column;
      width: 40%;
      margin: 90px auto;
      height: 100vh;">
  <h1 style="
  color: #624738;
  margin-top: 50px;
">#Search Results</h1>

    {% if products_list%}
  <div class="special">
    {% for product in products_list %}
    <div class="productContainer">
      <img src="/media/{{ product.product_picture }}" />
      <div class="productCategoryContainer">
        <i class="{{ product.product_category__category_icon }}"></i>
        <h5>{{ product.product_category__category_name }}</h5>
      </div>
      <div class="productNameContainer">
        <h3>{{ product.product_name }}</h3>
        <i id="makeReviewButton" class="fa-solid fa-pen"></i>
      </div>
    </div>
    {% endfor %}
  </div>
  {%endif%}

  
  <div class="allReviewPostsParent">
      {% for post in posts_list %}
          
      <div id="reviewPostContainer-{{ post.id }}" data="{{ post }}">
          <div class="after">
              <h3>This post has been deleted!</h3>
              <form action="/undelete_post/{{ post.id }}" method="post">
              {% csrf_token %}
              <i
                  id="undoDeletePostButton-{{ post.id }}"
                  class="fa-solid fa-arrow-rotate-left fa-lg"
              ></i>
              </form>
          </div>

          <div class="before">
              <div class="headerPost">
              <img
                  src="{% static '/img/logo.png' %}"
                  class="profileMiniUserPicture"
                  alt="mini user pfp"
              />
              <div class="userPostDetails">
                  <h2>{{ post.post_user.username | title }}</h2>
                  <span>{{ post.datetime_published }}</span>
              </div>
              {% if post.post_user_id == request.session.user_id %}
                  <i id="makeChangesButton-{{ post.id }}" class="fa-solid fa-pen"></i>
              {% endif %}

              <div style="width: 10px"></div>
              {% if post.post_user_id == request.session.user_id %}
                  <form id="deletePostForm-{{ post.id }}" action="/delete_post/{{ post.id }}" method="post">
                      {% csrf_token %}
                      <i id="deletePostIcon-{{ post.id }}" class="fa-solid fa-x fa-lg"></i>
                  </form>
              {% endif %}
              </div>

              <div class="descriptionPost">
              <span>{{ post.post_description }}</span>
              </div>

              <div class="imagesPost">
              <img
                  id="changeImage-{{ post.id }}"
                  src="/media/{{ post.post_picture }}"
                  alt="postImages"
              />
              </div>

              <div class="buttonsPost" style="display: flex; justify-content: center">
              <div
                  style="
                  display: flex;
                  flex-grow: 0.7;
                  justify-content: center;
                  align-items: center;
                  border-right: 2px solid #bdbdbd;
                  padding: 6px;
                  "
              >
                  <form
                  action=""
                  method="post"
                  style="display: flex; justify-content: center; align-items: center"
                  >
                  <i
                      id="like-{{ post.id }}"
                      class="fa-solid fa-arrow-up fa-lg"
                      style="margin-right: 0"
                  ></i>
                  <span
                      id="like-count-{{ post.id }}"
                      style="width: fit-content; margin-left: 5px; margin-right: 20px"
                      >{{ post.total_likes|default:"" }}</span
                  >

                  <i id="dislike-{{ post.id }}" class="fa-solid fa-arrow-up fa-rotate-180 fa-lg"></i>
                  <span
                      id="dislikes-count-{{ post.id }}"
                      style="width: fit-content; margin-left: 5px; margin-right: 10px"
                      >{{ post.total_dislikes }}</span
                  >
                  </form>
              </div>
              <div
                  style="
                  display: flex;
                  flex-grow: 1;
                  justify-content: center;
                  align-items: center;
                  border-right: 2px solid #bdbdbd;
                  padding: 6px 0;
                  height: 20px;
                  "
              >
                  <i id="-{{ post.id }}" class="fa-solid fa-comment fa-lg" style="height: fit-content"></i>
                  </i>
                  <span
                  id="comment-count-{{ post.id }}"
                  style="width: fit-content; margin-left: 5px; margin-right: 10px"
                  >{{ post.total_likes|default:"" }}</span
                  >
              </div>

              <div style="display: flex; flex-grow: 1; align-items: center; justify-content: center">
                  <i
                  id="favorite-{{ post.id }}"
                  class="fa-solid fa-heart fa-lg"
                  style="width: fit-content"
                  ></i>
                  <span
                  id="favorite-count-{{ post.id }}"
                  style="width: fit-content; margin-left: 5px; margin-right: 10px"
                  >{{ post.total_favorites|default:"" }}</span
                  >
              </div>
              </div>
          </div>
          </div>

          <!-- MAKE CHANGES TO POST POPOUT -->
          <div id="makeChangesDiv-{{ post.id }}">
          <div class="makeReviewForm">
              <div class="before">
              <div class="headerPost">
                  <img
                  src="{% static '/img/logo.png' %}"
                  class="profileMiniUserPicture"
                  alt="mini user pfp"
                  />
                  <div class="userPostDetails">
                  <h2>{{ user.username | title }}</h2>
                  </div>
                  <i id="cancelPostIcon-{{ post.id }}" class="fa-solid fa-x" style="cursor: pointer"></i>

                  <!-- <i class="fa-solid fa-ellipsis fa-lg" style="color: #cc8033;"></i> -->
              </div>
              <form
                  id="makeChangesForm-{{ post.id }}"
                  class="makeChangesForm"
                  action="/update_post/{{ post.id }}"
                  method="post"
                  enctype="multipart/form-data"
              >
                  {% csrf_token %}
                  <div class="descriptionPost">
                  <textarea
                      id="description"
                      name="description"
                      style="
                      width: 100%;
                      min-width: 100%;
                      min-height: 20px;
                      background-color: #ffead1;
                      height: 20px;
                      padding: 10px;
                      border: none;
                      "
                      placeholder="Speak Now..."
                  >
                      {{ post.post_description }}</textarea
                  >
                  <!-- <input id="postDescription" name="postDescription" type="text"  style="white-space: pre-wrap;" placeholder="Speak Now..." required> -->
                  </div>

                  <div id="imagesChangePost-{{ post.id }}" class="imagesChangePostDiv">
                  <i class="fa-solid fa-image fa-lg">&nbsp; Add Images</i>
                  <input
                      type="file"
                      id="changeImageInput-{{ post.id }}"
                      name="changeImageInput"
                      accept="image/*"
                      style="display: none"
                  />
                  </div>
                  <button type="submit" id="publishReviewButton">Save Changes</button>
              </form>
              </div>
          </div>
          </div>

      {% endfor %}

      <div style="margin: 0 auto; margin-bottom: 30px; color: #7e7e7e"> end </div>
  </div>
    
      {%else %}
   <div class="noResults" style="    display: flex;
    justify-content: center;
    height: 100vh;

    width: 100%;
    margin: 0 auto;
    color: #b3b3b3;
    align-items: center; 
    
    /* background-color: #f0f0f0; */
    ">
            <p>No Results Found.</p>
        </div>
    
    {% endif %}
    
    
</div>

{% endblock %}
