<!-- <div class="commentsParentDiv">
    <div style="background-color: #ededed;">
        <h4 style="padding: 20px 15px 10px 15px;">
            Comments&gt;
        </h4>
        <div style="padding: 10px 20px;"> 
            <div style="
            display: flex;
            align-items: center;
            width: auto;
            gap: 15px;
            ">
                <img src="/static/img/logo.png" class="profileMiniUserPicture" alt="mini user pfp">
                
                <div type="text" id="commentInput" name="commentInput" style="
                    color: #696969;
                    background-color: white;
                    border: 2px solid #e1e0e0;
                    border-radius: 15px;
                    font-weight: normal;
                    padding: 10px 25px;
                    font-size: 14px;
                    width: 90%;
                "> 
                    {{ comment desc}}
                </div>
            </div>
            <p style="
                padding-left: 3.7rem;
                font-size: 12px;
            "> 
                {{ comment date}}
            </p>
        </div>
    </div>

    <div style="
        background-color: white;
        display: flex;
        align-items: center;
        width: auto;
        gap: 15px;
        padding: 20px 20px;
    ">
        <img src="/static/img/logo.png" class="profileMiniUserPicture" alt="mini user pfp">
        
        <form id="commentForm" method="post" style="
            display: flex;
            flex-grow: 1;
        ">
            <input type="text" id="commentInput" onkeypress="handleOnEnter(event)" name="commentInput" placeholder="Comment your purpose in life...  ★" style="
            color: #696969;
            border: 2px solid #e1e0e0;
            border-radius: 15px;
            font-weight: normal;
            padding: 10px 25px;
            font-size: 14px;
            width: 90%;
            "> 
        </form>
        <i class="fa-solid fa-paw fa-xl"></i>
    </div></div> -->