{% load static %}

<div id="updatePostDivBackground-{{ post.id }}" class="viewPostDivBackground">
  <div class="viewPostParentDiv">
    <div class="headerPost">
      <img src="{% static '/img/logo.png' %}" class="profileMiniUserPicture" alt="mini user pfp" />
      <div class="userPostDetails">
        <h2>{{ post.post_user.username | title }}</h2>
        <span>{{ post.datetime_published }}</span>
      </div>
      <i id="closePostIcon-{{ post.id }}" class="fa-solid fa-x" style="cursor: pointer"></i>
    </div>

    <div class="descriptionPost">
      <span>{{ post.post_description }}</span>
    </div>

    <div class="VPimagesPost" style="min-height: 280px">
      <img id="changeImage-{{ post.id }}" src="/media/{{ post.post_picture }}" alt="postImages" />
    </div>

    <div class="buttonsPost" style="display: flex; justify-content: center">
          <div
            style="
              display: flex;
              flex-grow: 0.7;
              justify-content: center;
              align-items: center;
              border-right: 2px solid #bdbdbd;
              padding: 6px;
              min-height: 30px;
            "
          >
            <form
              action=""
              method="post"
              style="display: flex; justify-content: center; align-items: center"
            >
              <i
                id="VPlike-{{ post.id }}"
                class="fa-solid fa-arrow-up fa-lg"
                style="margin-right: 0"
              ></i>
              <span
                id="VPlike-count-{{ post.id }}"
                style="width: fit-content; margin-left: 5px; margin-right: 20px"
                >{{ post.total_likes|default:"" }}</span
              >

              <i id="VPdislike-{{ post.id }}" class="fa-solid fa-arrow-up fa-rotate-180 fa-lg"></i>
              <span
                id="VPdislike-count-{{ post.id }}"
                style="width: fit-content; margin-left: 5px; margin-right: 10px"
                >{{ post.total_dislikes }}</span
              >
            </form>
          </div>
          <div
            style="
              display: flex;
              flex-grow: 1;
              justify-content: center;
              align-items: center;
              border-right: 2px solid #bdbdbd;
              padding: 6px 0;
              min-height: 30px;
            "
          >
            <i  class="fa-solid fa-comment fa-lg" style="height: fit-content"></i>
            </i>
            <span
              
              style="width: fit-content; margin-left: 5px; margin-right: 10px"
              >{{ post.total_likes|default:"" }}</span
            >
          </div>

          <div style="display: flex; flex-grow: 1; align-items: center; justify-content: center">
            <i
              id="VPfavorite-{{ post.id }}"
              class="fa-solid fa-heart fa-lg"
              style="width: fit-content"
            ></i>
            <span
              id="VPfavorite-count-{{ post.id }}"
              style="width: fit-content; margin-left: 5px; margin-right: 10px"
              >{{ post.total_favorites|default:"" }}</span
            >
          </div>
        </div>

  </div>
</div>
